.main{
    width: 1200px;;
    height: 1000px;
    background-color: yellow;
    margin: auto;
}
.header{
    width: 1200px;
    height: 150px;
    background-color: lightpink;
}
.branding{
    width: 400px;
    height: 150px;
    background-color: palegreen;
    float: left;
}
.social{
    background-color: crimson;
    font-size: medium;
    text-align: center;
    height: 100px;
    width: 800px;
    float: left;
}

.menu{
    background-color: burlywood;
    text-align: center;
    width: 800px;
    height: 50px;
    float: left;
}
.container{
    width: 1200px;
    height: 800px;
    background-color: orange;
}
.gallery{
    width: 1200px;
    height: 400px;
    background-color: gray;
    text-align: center;
    
}
.courses{
    width: 1200px; ;
    height: 400px; ;
    background-color: darkorchid;
}
.bootcamp{
    height: 400px;
    width: 300px;
    float: left;
    background-color: orangered;

}
.cloud{
    height: 400px;
    width: 300px;
    float: left;
    background-color:red;
}
.ml{
    height: 400px;
    width: 300px;
    float: left;
    background-color: goldenrod;
}
.dsa{
    height: 400px;
    width: 300px;
    float: left;
    background-color: greenyellow;
}
.footer{
    width: 1200px;
    height: 150px;
    background-color:green;
    text-align: center;
}